:root {
  --color-primary: #0eced1;
  --color-secondary: #e9d8a6;
  --color-background: #101011;
  --color-background-light: #151516;
  --color-text-bright: #eafff8;
  --color-accent: #f48c06;
}

body {
    margin: 0px;
    background-color: var(--color-background);
    font-family: 'Inter', sans-serif;
}

.container {
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 10%;
    margin-top: 4%;
}

.title-2{
    color: var(--color-text-bright);
    font-size: 2.2rem;
    margin: 0%;
}

.title-1{
    color: var(--color-text-bright);
    font-size: 3.7rem;
    margin: 0%;
}

.text{
    color: var(--color-text-bright);
    font-size: 1.2rem;
}

.dot{
    color: var(--color-primary);
    font-size: 7rem;
}

strong{
    color: var(--color-primary);
}

.mb {
    margin-bottom: 3rem;
}