.footer {
  height: 500px;
  background-color: var(--color-background-light);
  position: relative;
}

.button-list {
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  width: 20%;
  align-items: center;
}

.button-list-title {
  color: rgb(112, 112, 112);
  margin-bottom: 3%;
}

.footer-button {
  width: 50%;
  background: none;
  border: none;
  color: var(--color-text-bright);
  font-size: 110%;
  margin-top: 3%;
}

.footer-button:hover{
  transform: scale(1.1);
}

.footer-contact{
  align-items: center;
  align-content: center;
  justify-self: center;
  margin-left: 20%;
}

.contact{
  margin-top: 10%;
}